/*
$("tbody").append("<tr>\
<td><%= j @post.title %></td>\
<td><%= j link_to 'Show', @post, class: 'btn btn-info btn-sm' %>\
    <%= j link_to 'Edit', edit_post_path(@post), class: 'btn btn-warning btn-sm' %>\
    <%= j link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %></td>\
</tr>");
*/

$("tbody").append("<%= j render @post %>");
